@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

/*Estilos Gerais*/

body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #444444;
}

section {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

img {
    display: block;
}

a:visited, a:link {
    color: inherit;
}

.clear {
    clear: both;
}

.btn {
    border: 2px solid #707070;
    color: #707070;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 3px 6px;
    clear: both;
}

.btn:hover {
   border-color: #000;
   color: #000; 
}

.subtitulo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 70px;
}

/*Header*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background:#e2e2e2;
    padding: 15px 0;
    z-index: 10;
    
}


.header_menu {
    text-align: right;
    margin-top: 15px;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 20px;
    
}

.header_menu ul li a {
    color: #707070;
    font-weight: bold;
    letter-spacing: .05em;
    font-size: 18px;
    padding: 10px 0;

}

.header_menu ul li a:hover {
    color: #fff;
}


.header .botaoheader a{
    float: right;
    
} 

/*Introdução*/

.intro {
    margin-top: 80px; /*Para caber o header*/
    background: #B1B1B1;
}

.intro h1{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.intro p:before {
    content: "";
    display: block;
    height: 2px;
    width: 430px;
    background: #444444;
    margin: 20px auto;
}

.intro .linhamenor:before {
    content: "";
    display: block;
    height: 2px;
    width: 150px;
    background: #444444;
    margin: 20px auto;
}

.intro p {
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 25px;
    max-width: 840px;
    margin: 0 auto 50px auto;
    
}

/*Projetos - Home*/

.projetos_home_lista li {
    background: #8D8D8D;
    color: #fff;
    margin-bottom: 50px;

}

.projetos_home_lista li h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
    letter-spacing: .1em;
}

.projetos_home_lista li p {
    font-size: 16px;
    padding: 16px;
    letter-spacing: .1em;
}

/*Serviços - Home*/

.servicos_home {
    background: #D6D6D6;
}

.servicos_home li {
    margin-bottom: 50px;
}

.servicos_home li img {
    margin: 0 auto;
}

.servicos_home li h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 10px;;
}

/*Alinhamento - Home*/

.alinhamento_home div:after {
    content: "";
    width: 622px;
    height: 82px;
    display: block;
    background: url(../img/linhas.svg) no-repeat center;
    position: absolute;
    top: 160px;
    left: 169px;
    z-index: -1;
}

.alinhamento_home img {
    margin: 0 auto;
}

.alinhamento_home li {
    padding: 0 20px;
    margin-bottom: 50px;
}

.alinhamento_home li p {
    font-size: 16px;
    letter-spacing: .1em;
    font-style: italic;
    padding-top: 65px;
}

/*Footer*/

.footer {
    width: 100%;
    background: #B1B1B1;
}

.footer h3 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    margin: 10px 0;
}

.footer p, a {
    font-size: 16px;
    letter-spacing: .05em;
    line-height: 20px;
    margin-bottom: 5px;
}

.footer .container {
    padding: 10px 0;
}

.mapa_footer li{
    width: 80px;
    float: left;
    padding: 0 0 15px 0;
    font-size: 16px;
}

.mapa_footer li :hover{
    font-weight: bold;
}



.contato_footer img{
    float: left;
    padding: 10px;
}

.rodape {
    width: 100%;
    height: 50px;
    background: #444444;
    padding: 15px;
}

.rodape div{
    float: left;
}

.rodape p{
    color: #fff;
    font-size: 16px;
    letter-spacing: .05em;
    margin-left: 20px;
}

/*============================ FIM HOME ============================*/

/*Sobre*/

.sobre h3 {
    font-size: 20PX;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    margin: 0 0 30px 0;
    text-align: left;
}

.sobre p {
    font-size: 16px;
    letter-spacing: .05em;
    text-align: left;
    margin-bottom: 20px;
    line-height: 25px;
}

/*Contribuições*/

.contribuicoes {
    background: #D6D6D6;
}

p {
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 25px; 
}

/*============================ FIM SOBRE ============================*/

/*Serviços*/

.servicos h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 10px 0;
}

.servicos p {
    text-align: left;
}

/*Utilizar margin direto no LI causa conflito com a margin do grid*/
 
.blocos-1 {
    background: #B1B1B1;
    margin-top: 20px;
}

.blocos-2 {
    border: 2px solid #444444;
    margin-top: 20px;
}

.servicos li img {
    padding-top: 30px;
}

.servicos_texto {
    margin: 0 -10px 0 0;
}

.servicos_texto p {
    padding: 0 20px 20px 0;
}

/*============================ FIM SERVIÇOS ============================*/
